<h1 class="maint">Learn, Compete, and Donate </h1>

</section>
<section class="slider">
  <div id="sliderBootstrap" class="carousel slide">
	<div id="sliderBootstrap" class="carousel slide">
	  <div class="carousel-inner">
		<div class="active item">
		  <!--<img src="https://jcd.pl/data/files/image/d/bhddzs.jpeg" width="1920" height="720" title='Neuropsychologia'>-->
		  <%= image_tag ("typog.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light" style="color:#fff">Trivia</h4>
			  <p class="f18" style="color:#fff">Strona internetowa wraz z wersją mobilną dla portalu neuropsychologicznego.</p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("wordwith.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light">Share<strong>Pakernia.pl</strong></h4>
			  <p class="f18">Projekt graficzny aplikacji mobilnej dla Pakerni</p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("donating.jpg") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light"> Donate <strong> Cleanse Me</strong></h4>
			  <p class="f18"> Strona i sklep internetowy firmy tworzącej kuracje i soki Cleanse Me </p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("stopclock.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light" > Watch the Time <strong> Javacoffee</strong></h4>
			  <p class="f18"> Strona i sklep internetowy dystrybutora świeżej i pysznej kawy. Sami sprawdziliśmy! </p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("love.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light">Sharing is Caring <strong> Eversys</strong></h4>
			  <p class="f18"> Strona internetowa firmy specjalizującej się w ochronie sieciowej i zabezpieczeniach IT </p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			</div>
		  </div>
		</div>
	  </div>
	  <a class="carousel-control left" href="#sliderBootstrap" data-slide="prev">‹</a>
	  <a class="carousel-control right" href="#sliderBootstrap" data-slide="next">›</a>
	</div>
	</div>
</section>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
	<div class="col-lg-4" id="dod2">
	  <%= image_tag ("dod2.png") %>
	  <h2>Game Room</h2>
	  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <%= image_tag ("About.png"), class:"logos"%>
	  <h2>About Us</h2>
	  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
	  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <%= image_tag ("Contact.png"), class:"logos"%>
	  <h2>Contact Us</h2>
	  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr>
  <!-- /END THE FEATURETTES -->

</div>







































