
<h1 class="maint">Learn, Compete, and Donate </h1>

</section>
<section class="slider">
  <div id="sliderBootstrap" class="carousel slide">
	<div id="sliderBootstrap" class="carousel slide">
	  <div class="carousel-inner">
		<div class="active item">
		  <%= image_tag ("typog.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light" style="color:#fff">Trivia</h4>
			  <p class="f18" style="color:#fff">Riddles, puzzles, logic problems and other enigmas to entangle the mind.</p>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("wordwith.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light">Knowledge</h4>
			  <p class="f18">Daily exercises and tips for improving memory, creativity, vocabulary and stress management.</p>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("donating.jpg") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light"> Donate</h4>
			  <p class="f18">Kindness in words creates confidence. Kindness in thinking creates profoundness. Kindness in giving creates love.</p>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("stopclock.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light" > Watch the Time</h4>
			  <p class="f18"> Competing at the highest level is not about winning. It's having fun while help those in need!</p>
			</div>
		  </div>
		</div>
		<div class="item">
		  <%= image_tag ("love.png") %>
		  <div class="container">
			<div class="carousel-caption">
			  <h4 class="f60 font-light">Sharing is Caring</h4>
			  <p class="f18">It takes a lot of courage to show your dreams to someone else.</p>
			</div>
		  </div>
		</div>
	  </div>
	  <a class="carousel-control left" href="#sliderBootstrap" data-slide="prev">‹</a>
	  <a class="carousel-control right" href="#sliderBootstrap" data-slide="next">›</a>
	</div>
	</div>
</section>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
	<div class="col-lg-4" id="dod2">
	  <%= image_tag ("dod5.png") %>
	  <h2 class="header2">Game Room</h2>
	  <p class="mainp"> <strong>Put your IQ to the test!</strong><br>
		Do you know the longest river? Who fought in the War of the Roses? Who is credited with building the first zoo? Prove that you truly are a "know-it-all" by acing You Know It! Trivia. </p>
	  <p><a class="btn btn-default" href="../games/room" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <%= image_tag ("About.png"), class:"logos"%>
	  <h2 class="header2">About Us</h2>
	  <p class="mainp"><strong>Get to know us!</strong><br>
		Hey everyone, Double or Donate is a place where we are extremely passionate about trivia and heling those in need.This site is design to help you learn and at the same time help charities.</p>
	  <p><a class="btn btn-default" href="../about/index" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <%= image_tag ("Contact.png"), class:"logos"%>
	  <h2 class="header2">Charity</h2>
	  <p class="mainp"><strong>What is Charity Page?</strong><br>
		DoD is an advanced fundraising website with a unique combination of trivia and charities, raising more money for charity at no cost to the charity or fundraiser.</p>
	  <p><a class="btn btn-default" href="../charities" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr>
  <!-- /END THE FEATURETTES -->
</div>
