<div class="room"> Welcome to room#<%=@game.room_id%>

	<div>Time: <span id="time">00:00:00:000</span></div>
  	<button id="start" >start</button>
  	<button id="reset" >reset</button>
    
</div>


<div class="question">
  <div class="<% if @game.p2 == nil %>hide-question<% end %>">
	Question: <%=@game.question.text%>
  </div>
</div>
<div id="answer" class="answer">
	Answers:

  <!-- Button trigger modal -->
  <div class="<% if @game.p2 == nil %>hide-abutton<%else%>abutton<% end %>">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button1" value="1"><%=@game.question.answer_1%></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button2" value="2"><%=@game.question.answer_2%></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button3" value="3"><%=@game.question.answer_3%></button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button4" value="4"><%=@game.question.answer_4%></button>
  <button type="button" data-toggle="modal" data-target="#myModal" id="dummy-btn" ></button>
</div>  

<div id="correct" class="correct"><%=@game.question.correct_answer%></div>
<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      
      </div>
      <div class="modal-body" id="modal-body">
      </div>

      <div class="modal-footer">
         <button type="button" id="again" class="btn btn-default" data-dismiss="modal">Again</button>
        <button type="button" id="run" class="btn btn-default" data-dismiss="modal">Run</button>
        <!-- disabled buttons until click -->
        <button type="button" id="double" class="btn btn-default" data-dismiss="modal" >Double</button>
        <button type="button" id="donate" class="btn btn-default" data-dismiss="modal" >Donate</button>
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="players">
  <div class="p1">
  <%if current_user.id == @game.p1%>
    <label><%=current_user.name%></label>
  <%else%>
    player 1
  <%end%>  
  p1_bet: <div id="p1_bet"><%=@game.p1_bet%></div>
  
  
  </div>
  <div class="p2">
  <%if current_user.id == @game.p2%>
    <label><%=current_user.name%></label>
  <%else%>
    player 2
  <%end%> 
  p2_bet: <div id="p2_bet"><%=@game.p2_bet%></div>
  
  </div>
  
</div>


<script>


var win;
var who = <% if @game.p1 == current_user.id.to_s %>1<% else %>2<% end %>;
var player1  = <%= @game.p1 %>;
var player2  = <%= @game.p2 || 'null' %>;

// pusher stuff
var channel_name='<%= @game.room_id %>';
var pusher = new Pusher('be43fa2ad18873862a59');
var channel = pusher.subscribe(channel_name);

channel.bind('start_game', function(data) {
  // show question with answers and start timer


});

channel.bind('start_another', function(data) {
   location.reload(true);  
});

channel.bind('kick_time', function(data) {
   location.href = "../games/"; 
});
    
channel.bind('answered', function(data) {
    
    if (data.player == who) {
      // console.log("answering player is correct: " + data.correct);
      if(data.correct){
        document.getElementById("modal-body").innerHTML = "Nice! You are correct";   
          $("#donate").hide();
          $("#double").hide();    
          $("#run").show();    
          $("#again").show();    
      }
      else{
         document.getElementById("modal-body").innerHTML ="Bummer, you got it wrong";  
          $("#donate").show();
          $("#double").show();
          $("#run").hide();
          $("#again").hide(); 

      }       
    } 
    else {
      // console.log("other player is correct: " + data.correct);
      if(data.correct){
        document.getElementById("modal-body").innerHTML = "Other dude answered correctly :(";
          $("#donate").show();
          $("#double").show();
          $("#run").hide();
          $("#again").hide(); 
          $('#button1').attr("disabled", true);
          $('#button2').attr("disabled", true);
          $('#button3').attr("disabled", true);
          $('#button4').attr("disabled", true);
      }
      else{
        document.getElementById("modal-body").innerHTML = "Other dude messed up :)";
          $("#donate").hide();
          $("#double").hide();
          $("#run").show();
          $("#again").show(); 
          $('#button1').attr("disabled", true);
          $('#button2').attr("disabled", true);
          $('#button3').attr("disabled", true);
          $('#button4').attr("disabled", true); 
      }
      //pop out modal for other player
      document.getElementById("dummy-btn").click();  
      document.getElementById("dummy-btn").disabled = true;  
    }

});

$('#double').click(function(){
  //get next question, double loser bet, reset timer

  $.post('../games/start_another',{},function(){ });
   
  $("#close").click(); 
});

$('#donate').click(function(){
  //delete current game, give winner current bet from loser, and kick out both players to index page
  win=false;
  var params = { 
    player: who,  
    win: win
  };
  $.post('../games/game_end',params,function(){ });


});

$('#run').click(function(){
  win=true;
  var params = { 
    player: who,
    win: win  

  };
  $.post('../games/game_end',params,function(){ });

});

$('#again').click(function(){
  

});

</script>

