<div class="room"> Welcome to room#<%=@game.room_id%>
	<div>Time: <span id="time">0</span></div>
  	<button id="start" onclick="start();">start</button>
  	<button id="stop" onclick="stop();">stop</button>
  	<button id="reset" onclick="reset();">reset</button>
</div>
<div class="question">
	Question: <%=@question.text%>

</div>
<div id="answer" class="answer">
	Answers:
<!-- <button id="button1" value="1"><%=@question.answer_1%></button> -->
  <!-- <button id="button2" value="2"><%=@question.answer_2%></button> -->
  <!-- <button id="button3" value="3"><%=@question.answer_3%></button> -->
  <!-- <button id="button4" value="4"><%=@question.answer_4%></button> -->
  <!-- Button trigger modal -->
  <div class="abutton">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button1" value="1"><%=@question.answer_1%></button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button2" value="2"><%=@question.answer_2%></button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button3" value="3"><%=@question.answer_3%></button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button4" value="4"><%=@question.answer_4%></button>
</div>  
<div id="correct" class="correct"><%=@question.correct_answer%></div>
<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="players">
  <div class="p1">
  <%if current_user != nil && current_user.name == @game.p1%>
    <label><%=current_user.name%></label>
  <%else%>
    player 1
  <%end%>  
  p1_bet: <div id="p1_bet">0.01</div>
  
  
  </div>
  <div class="p2">
  <%if current_user != nil && current_user.name == @game.p2%>
    <%=current_user.name%>
  p2_bet: <%=@game.p2_bet%>
  <%end%>
  </div>
  
</div>


<script>

var who = <%=current_user.id%>;
var player1  = <%= @game.p1 %>;
var player2  = <%= @game.p2 %>;


if ( player1 && player2  ){
  //start clock
  start();
}



</script>
