<div class="audio"><audio autoplay><source src='/Video Game Song.mp3' type="audio/mpeg"></audio></div>

<h2 class="vegas">Room:<%=@game.id%></h2>

<div class="room"> DOUBLE OR DONATE</div>

	<!--<div>Time: <span id="time">00:00:00:000</span></div>-->
  	<!-- <button id="start" >start</button>
  	<button id="reset" >reset</button> -->




<div class="question">
  <div>
	Question: <%=@game.question.text%>
  </div>
</div>
<div id="answer" class="answer">
	Answers:

  <!-- Button trigger modal -->
  <div class="<% if @game.p2 == nil %>hide-abutton<%else%>abutton<% end %>">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="button1" value="1">A<br><%=@game.question.answer_1%></button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" id="button2" value="2">B<br><%=@game.question.answer_2%></button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" id="button3" value="3">C<br><%=@game.question.answer_3%></button>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" id="button4" value="4">D<br><%=@game.question.answer_4%></button>
  <button type="button" data-toggle="modal" data-target="#myModal" id="dummy-btn" ></button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      
      </div>
      <div class="modal-body" id="modal-body">
      </div>

      <div class="modal-footer">

        <button type="button" id="double" class="btn btn-default" data-dismiss="modal" >Double</button>
        <button type="button" id="donate" class="btn btn-default" data-dismiss="modal" >Donate: <%if "#{@game.p1}" == "#{current_user.id}"%><%=@game.p1_bet%><%else%><%=@game.p2_bet%><%end%></button>
        
      </div>
    </div>
  </div>
</div>
</div>
<!--player one and player 2-->
<div class="players">
  <div class="p1">
  <%if "#{@game.p1}" == "#{current_user.id}"%>
    <%=current_user.name%>
  <%else%>
    Player 1
  <%end%>  
  <br>
    Bet: <div id="p1_bet"><%=@game.p1_bet%></div>
  
  
  </div>
  <div class="p2">
  <%if !@game.p2%>
    Waiting on Player 2
  <%elsif "#{@game.p2}" == "#{current_user.id}"%>
    <%=current_user.name%>
  <%else%>
    Player 2
  <%end%>
  <br>
    Bet: <div id="p2_bet"><%=@game.p2_bet%></div>
  
  </div>
  
</div>


<script>

var who = <% if @game.p1 == current_user.id.to_s %>1<% else %>2<% end %>;
var player1  = <%= @game.p1 %>;
var player2  = <%= @game.p2 || 'null' %>;

// pusher stuff
var channel_name='<%= @game.room_id %>';
var pusher = new Pusher('be43fa2ad18873862a59');
var channel = pusher.subscribe(channel_name);

channel.bind('start_game', function(data) {
  // show question with answers and start timer

  start();


});

channel.bind('start_another', function(data) {
   location.reload(true);  
});

channel.bind('kick_time', function(data) {
   // location.href = "https://doubleordonate.herokuapp.com/"; 
   location.href = "../charities";
});
    
channel.bind('answered', function(data) {
    
    if (data.player == who) 
    {
      // console.log("answering player is correct: " + data.correct);
      if(data.correct){
        document.getElementById("modal-body").innerHTML = "Nice! You are correct";           
      }

      else
      {
         document.getElementById("modal-body").innerHTML ="Bummer, you got it wrong";  
      }       
    } 
    else {
      // console.log("other player is correct: " + data.correct);

      if(data.correct)
      {
        document.getElementById("modal-body").innerHTML = "Other dude answered correctly :(";     
      }

      else
      {
        document.getElementById("modal-body").innerHTML = "Other dude messed up :)";

      }
      //pop out modal for other player
      document.getElementById("dummy-btn").click();  
    }

});

$(function() {

    $('#button1').click(function(){

          var params = {
            player: who,
            choice: this.value
          };
          var url = '../games/answered';
          $.post(url,params,function(){ });

    });

    $('#button2').click(function(){
          var params = {
          player: who,
          choice: this.value
          };
          var url = '../games/answered';
          $.post(url,params,function(){ });

    });

    $('#button3').click(function(){
          var params = {
          player: who,
          choice: this.value
          };
          var url = '../games/answered';
          $.post(url,params,function(){ });

    });

    $('#button4').click(function(){
          var params = {
            player: who,
            choice: this.value
          };
          var url = '../games/answered';
          $.post(url,params,function(){ });


    });


    $('#double').click(function(){
      //get next question, double loser bet, reset timer     
      $.post('../games/start_another',{},function(){ });

    });

    $('#donate').click(function(){
    //delete current game, give winner current bet from loser, and kick out both players to index page
      $.post('../games/game_end',{},function(){ });
    });


});


var vid = document.getElementById("myVideo");
vid.volume = 0.2;
function setHalfVolume() {
    vid.volume = 0.2;
}
var audio = document.getElementById("audio");
function playAud() {
    audio.play();
}



</script>

