<div class="room"> Welcome to room#<%=@game.room_id%>
	<div>Time: <span id="time">0</span></div>
  	<button id="start" onclick="start();">start</button>
  	<button id="stop" onclick="stop();">stop</button>
  	<button id="reset" onclick="reset();">reset</button>
</div>
<div class="question">
	Question: <%=@game.question.text%>

</div>
<div id="answer" class="answer">
	Answers:

  <!-- Button trigger modal -->
  <div class="abutton">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button1" value="1"><%=@game.question.answer_1%></button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button2" value="2"><%=@game.question.answer_2%></button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button3" value="3"><%=@game.question.answer_3%></button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button4" value="4"><%=@game.question.answer_4%></button>
</div>  
<div id="correct" class="correct"><%=@game.question.correct_answer%></div>
<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="players">
  <div class="p1">
  <%if current_user.id == @game.p1%>
    <label><%=current_user.name%></label>
  <%else%>
    player 1
  <%end%>  
  p1_bet: <div id="p1_bet">0.01</div>
  
  
  </div>
  <div class="p2">
  <%if current_user.id == @game.p2%>
    <label><%=current_user.name%></label>
  <%else%>
    player 2
  <%end%> 
  p2_bet: <div id="p2_bet">0.01</div>
  
  </div>
  
</div>


<script>


var who = <% if @game.p1 == current_user.id.to_s %>1<% else %>2<% end %>;

var player1  = <%= @game.p1 %>;
var player2  = <%= @game.p2 || 'null' %>;

// pusher stuff
var channel_name='<%= @game.room_id %>';
var pusher = new Pusher('be43fa2ad18873862a59');
var channel = pusher.subscribe(channel_name);

channel.bind('start_game', function(data) {
    reset();
    start();
});
    
channel.bind('answered', function(data) {
    
    if (data.player == who) {

      console.log("answering player is correct: " + data.correct);
      if(data.correct){

      document.getElementById("modal-body").innerHTML = "Nice! You are correct";
      document.getElementById("p1_bet").innerHTML = document.getElementById("p1_bet").innerHTML*2; 
       
      }
      else{
         document.getElementById("modal-body").innerHTML ="Bummer, you got it wrong";
         document.getElementById("p2_bet").innerHTML = document.getElementById("p2_bet").innerHTML*2;
      }

        
    } 
    else {
      console.log("other player is correct: " + data.correct);
      if(data.correct){

      document.getElementById("modal-body").innerHTML ="Other dude answered correctly :(";
      }
      else{
        document.getElementById("modal-body").innerHTML = "Other dude messed up :)";
      }
    
    }

});

channel.bind('another_game', function(data) {

    reset();
    start();

});


</script>


