<!DOCTYPE html>
<html>
<head>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- animate.css -->
<link rel="stylesheet" href="animate.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Dod</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar'%>
<%= yield %>

<script>
// pusher stuff
var channel_name='<%= @game.room_id %>';
var pusher = new Pusher('be43fa2ad18873862a59');
var channel = pusher.subscribe(channel_name);
    
channel.bind('my_event', function(data) {
      var p1_bet = document.getElementById('p1_bet');
      p1_bet.innerHTML = data.message;

});
</script>
</body>
</html>
